// Place all the styles related to the about_us controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

.about-us p {
  margin: 2%;
  padding: 3% 0%;
  text-align: center;
}